body {
    /* background-color: rgb(106, 10, 185); */
    background: linear-gradient(to bottom, #6b08e3, rgb(16, 74, 25)) fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    background-attachment: fixed;
}

header div#headerGradient {
    display: flex;
    width: inherit;
    background-image: linear-gradient(to bottom, #129915 0%, #024304 100%);
    justify-content: space-between;
    /* Responsivo */
    flex-wrap: wrap;
}

a.botao {
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.4em;
    line-height: 2em;
    color: black;
}

div#divDireita, div#divEsquerda {
    text-align: center;
    margin: auto 0;
    display: inline-block;
}

div#divDireita > *{
    vertical-align: middle;
}

div#divEsquerda span {
    font-weight: bold;
    font-size: 1.5em;
}

div#divEsquerda * {
    margin-left: 0.5em;
}

div#divDireita img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 4em;
}

div#divDireita a.botao {
    background-color: #129915;
    color: rgb(31, 29, 29);
}

div#divDireita a.botao:hover{
    background-color: #1e5e20;
}

 /* DIV DA TABELA */

div#myTable {
    display: flex;
    flex-direction: column;
}

div#myTable div#buttonDiv {
    width: 98%;
    border-spacing: 0.2em;
    /* Responsivo */
    display: block;
    margin: 0 1em;
    align-self: center;
}

div#myTable div#buttonDiv a.botao {
    display: inline-block;
    margin: 0.7em 0.3em;
}

/* Tabela */

table {
    width: 98%;
    border-spacing: 0.2em;
    /* Responsivo */
    margin: 0 0.5em;
    align-self: center;
    max-height: 400px;
    /* display: flex; */
    display: block;
    /* flex-direction: column; */
    /* text-align: center; */
}

table tbody {
    display: block;
    overflow: auto;
    max-height: 400px;
}

table thead {
    position: relative;
    display: block;
    background-color: red;
}

table thead tr{
    display: block;
}
table tfoot {
    width: 100%;
    /* background-color: orange; */
    display: inline-block;
}

table tfoot * {
    width: 100%;
    display: inline-block;
    text-align: center;
}

table td, table th {
    padding: 0.5em;
}

table th {
    color: white;
    background-color: #003366;
}

table tbody tr:nth-child(odd) {
    background-color: #00BFFF;
}

table tbody tr:nth-child(even) {
    background-color: #87CEEB;
}

table tbody tr:hover {
    background-color: #1E90FF;
}

table tbody tr td:last-child,
table tbody tr td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

a.botao.receber {
    background-color: rgb(95, 182, 95);
}
a.botao.receber:hover {
    background-color: rgb(38, 104, 50);
}

a.botao.pagar {
    background-color: rgb(255, 55, 24);
}

a.botao.pagar:hover {
    background-color: rgb(189, 21, 21);
}

/* Main */

main {
    background-image: linear-gradient(#cccccc, white);
    padding: 1em;
    flex-basis: 100%;
}
