:root{
    --cor-botoes: #222222;
    --cor-texto-botoes: #222222;
    --cor-fundo: #0c0b0b;
    --cor-fundo-tabela: #222222
}


body {
    background-color: var(--cor-fundo);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    background-attachment: fixed;
}

header div#headerGradient {
    display: flex;
    width: inherit;
    background-color: var(--cor-fundo);
    color: white;
    justify-content: space-between;
    /* Responsivo */
    flex-wrap: wrap;
}

a.botao {
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.4em;
    line-height: 2em;
    /* color: black; */
}

div#divDireita, div#divEsquerda {
    text-align: center;
    margin: auto 0;
    display: inline-block;
}

div#divDireita > *{
    vertical-align: middle;
}

div#divEsquerda span {
    font-weight: bold;
    font-size: 1.5em;
}

div#divEsquerda * {
    margin-left: 0.5em;
}

div#divDireita img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 4em;
}

div#divDireita a.botao {
    background-color: var(--cor-botoes);
}

div#divDireita a.botao:hover{
    background-color: var(--cor-botoes);
}

 /* DIV DA TABELA */

div#myTable {
    display: flex;
    flex-direction: column;
}

div#myTable div#buttonDiv {
    width: 98%;
    /* Responsivo */
    display: block;
    margin: 0 1em;
    align-self: center;
}

div#myTable div#buttonDiv a.botao {
    display: inline-block;
    margin: 0.7em 0.3em;
}

/* Tabela */

table {
    width: 98%;
    border-spacing: 0.2em;
    /* Responsivo */
    margin: 0 0.5em;
    align-self: center;
    max-height: 400px;
    display: block;
    /* background-color: var(--cor-fundo-tabela); */
}

table thead {
    display: inline-block;
    display: block;
    width: 100%;
    background-color: var(--cor-fundo-tabela);
}

table tbody{
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 400px ;
}

table tfoot {
    width: 100%;
    background-color: var(--cor-fundo-tabela);
    display: inline-block;
}

table tfoot * {
    width: 100%;
    text-align: center;
    display: inline-block;
}

table td, table th {
    padding: 0.5em;
}

table th {
    color: white;
    /* background-color: #003366; */
    background-color: var(--cor-fundo-tabela);
}

table tbody tr:nth-child(odd) {
    /* background-color: #00BFFF; */
    background-color: var(--cor-fundo-tabela);
}

table tbody tr:nth-child(even) {
    /* background-color: #87CEEB; */
    background-color: var(--cor-fundo-tabela);
}

table tbody tr:hover {
    /* background-color: #1E90FF; */
    background-color: var(--cor-fundo-tabela);
}

table tbody tr td:last-child,
table tbody tr td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

a.botao.receber {
    /* background-color: rgb(95, 182, 95); */
    background-color: var(--cor-botoes);
}
a.botao.receber:hover {
    /* background-color: rgb(38, 104, 50); */
    background-color: var(--cor-botoes);
}

a.botao.pagar {
    /* background-color: rgb(255, 55, 24); */
    background-color: var(--cor-botoes);
}

a.botao.pagar:hover {
    /* background-color: rgb(189, 21, 21); */
    background-color: var(--cor-botoes);
}

/* Main */

main {
    background-image: linear-gradient(#cccccc, white);
    padding: 1em;
    flex-basis: 100%;
}
