.tableFixHead    { overflow: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; }
table tbody{ text-align: center;}
th, td { padding: 8px 16px; }
th     { background:#eee; }