<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Receber</th>
            <th>Pagar</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Conta 1</td>
            <td>R$ 100,00</td>
            <td>R$ 100,00</td>
            <td>
                <a href="javascript:void(0)" class="botao pagar">Pagar</a>
                <a href="javascript:void(0)" class="botao receber">Receber</a>
            </td>
        </tr>
        <tr>
            <td>Conta 2</td>
            <td>R$ 100,00</td>
            <td>R$ 100,00</td>
            <td>
                <a href="javascript:void(0)" class="botao pagar">Pagar</a>
                <a href="javascript:void(0)" class="botao receber">Receber</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total de registros: (()) </td>
        </tr>
    </tfoot>
</table>