<header>
    <div id="logo">
        <img src="../assets/images/user-logo.png" alt="user-profile" routerLink="">
        <span id="nomeUser"> nomeUser </span>
    </div>

    <div id="logout">
        <a href="javascript:void(0)"
            class="botao logout">Logout</a>
    </div>
</header>
<nav>
    <ul>
        <li><a routerLink="/tabela">Tabela de dívidas</a></li>
        <li><a routerLink="/pagas">Compras pagas</a></li>
        <li><a routerLink="/participadas">Compras participadas</a></li>
        <li><a routerLink="/registro">Registro de compras</a></li>
    </ul>
  </nav>
  <main id="main">
    <router-outlet></router-outlet>
</main>
 