header {
    // background-image: linear-gradient(#118AB2, #073B4C);
    // background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
    // background: linear-gradient(to top, rgba(109,179,242,1) 8%,rgba(30,105,222,1) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(35,90,219,1) 95%,rgba(32,124,202,1));
    display: flex;
    justify-content: space-between;
    /* Responsivo */
    flex-wrap: wrap;
}

div#logo {
    text-align: center;
    margin: auto 0;
}

div#logo span {
    font-weight: bold;
    display: block;
    font-size: 1.5em;
}

div#logo * {
    margin-left: 0.5em;
}

div#logo img {
    margin-top: 0.5em;
    height: 4em;
}

div#logout {
    display: inline-block;
    text-align: center;
    margin: auto 0.5em;
}

////////////////////////////////
/* Nav */

nav {
    background-color: #383838;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    ul {
        margin: 0;
        margin-left: 1em;
        padding: 0;
        // display: flex;
        list-style-type: none;
        li {
            &, a {
                display: inline-block; 
            }
            a {
                color: white;
                text-decoration: none;
                position: relative;
                transition: all .5s;
                padding: 1em;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 12px;
                    left: 12px;
                    height: 12px;
                    width: 12px;
                    border: 3px solid dodgerblue;
                    border-width: 0 0 3px 3px;
                    opacity: 0;
                    transition: all 0.3s;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    height: 12px;
                    width: 12px;
                    border: 3px solid dodgerblue;
                    border-width: 3px 3px 0 0;
                    opacity: 0;
                    transition: all 0.3s;
                }
                &:hover {
                    background-color: dodgerblue;
                    color: #383838;
                    &::before{
                        opacity: 1;
                        bottom: -8px;
                        left: -8px;
                    }
                    &::after{
                        opacity: 1;
                        top: -8px;
                        right: -8px;
                    }
                }
            }
            &#dropdown {
                &:hover div#dropdown_menu,
                &:focus-within div#dropdown_menu,
                a:focus + div#dropdown_menu {
                    display: block;
                }
            }
        }
    }
    div#dropdown_menu {
        display: none;
        position: absolute;
        background-color: #383838;
        border: 1px solid white;
        box-shadow: 0px 2px 4px black;
        z-index: 999;
        a {
            display: block;
        }
    }

}

@media screen and (max-width: 740px) {

    nav ul li {
        display: block;
        width: 100%;
        a {
            width: 100%;
        }
    }

}